/* fonts  */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

/* Common Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
.container {
  max-width: 1200px;
  margin: auto;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}
img {
  max-width: 100%;
}
.section-title {
  font-size: 28px;
  margin: 30px 0;
  text-align: center;
}
.btn {
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  border: none;
  padding: 10px 25px;
  background-color: #e02c6d;
  border-radius: 10px;
}

/* navigation section */
.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}
.main-nav ul {
  display: flex;
  gap: 18px;
}

.main-nav ul li a {
  font-size: 20px;
  font-weight: 700;
}
.main-nav ul li a:hover {
  color: #e02c6d;
}

/* hamburger menu  */
.check-btn {
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}

/* main banner-section  */

.banner-section {
  min-height: 600px;
  display: flex;
  align-items: center;
}

.text-section {
  width: 50%;
}
.text-section > h1 {
  font-size: 52px;
}
.text-section p {
  margin: 2rem 0;
}
.img-sec {
  width: 50%;
  display: flex;
  justify-content: center;
  background-image: url("../images/Circle\ design.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
/* Brands Logo Section  */

.brands-logo {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  justify-items: center;
  gap: 20px;
}
hr {
  margin: 30px 0;
  height: 2px;
  border: none;
  background: -webkit-gradient(
    linear,
    0 0,
    100% 0,
    from(transparent),
    to(transparent),
    color-stop(50%, gray)
  );
}

/* Products Cart Popular Collection */
.products {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
}
.product-cart {
  max-width: 500px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  padding: 20px 17px;
  border-radius: 6px;
}

.product-cart:hover {
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.3);
  transition: 0.5s;
}

.cart-info {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.fa-star {
  color: #fb8200;
}
.text-btn {
  color: #e02c6dde;
  text-align: end;
  font-weight: 700;
  margin: 30px 10px;
}

/* featured-products */
.featured-products {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin: 40px 0;
}

/* footer */
.footer {
  background-color: black;
  height: 300px;
  color: #ffffff;
}
.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  height: 100%;
  justify-content: center;
  text-align: center;
}
.footer-icon {
  display: flex;
  flex-wrap: wrap;
  font-size: 22px;
  gap: 1.5rem;
}
.footer-icon i:hover {
  color: #e02c6d;
}

/* media query */

@media only screen and (max-width: 576px) {
  .container {
    padding: 0 20px;
  }
  .banner-section,
  .featured-products {
    flex-direction: column-reverse;
  }
  .text-section {
    width: 90%;
  }
  .img-sec {
    width: 90%;
  }

  .check-btn {
    display: block;
  }

  .main-nav ul {
    display: flex;
    gap: 18px;
    height: 100vh;
    background-color: bisque;
    width: 100%;
    position: fixed;
    top: 100px;
    left: 0;
    display: none;
    flex-direction: column;
    align-items: center;
    transition: all 0.5s;
    justify-content: center;
  }

  #check:checked ~ .main-nav ul {
    left: 0;
  }
}
@media only screen and (min-width: 577px) and (max-width: 1199px) {
  .container {
    padding: 0 20px;
  }
}
